@use "vars" as v;

body {
  font-family: "Inter", sans-serif;
}
.container {
  margin: 0 32px;
}

// border-radius with border-image does not work :/
.btn2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  padding: 22px 56px;
  background-color: inherit;
  border: 4px solid white;
  border-image: url("../assets/assets/background.svg") 10%;
  border-radius: 100px;
}

// button with gradient border and border-radius
.btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  padding: 22px 56px;
  border-radius: 100px;
  border: 4px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(
      45deg,
      rgba(255, 57, 152, 1) 0%,
      rgba(255, 57, 57, 1) 17%,
      rgba(255, 129, 57, 1) 80%,
      rgba(57, 255, 160, 1) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

li {
  list-style-type: none;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: v.$light-2;
}
