@media screen and (min-width: 1024px) {
  // Common container
  .container {
    padding: 0 80px;
  }
  // Header
  .header {
    .container {
      .burger {
        display: none;
      }
      .nav {
        display: none;
      }
    }
  }
  // Hero
  .hero {
    background: no-repeat url(../assets/assets/graphic.svg);
    background-position: 500px 0px;
    background-size: 500px;
  }
}
