@media screen and (min-width: 1024px) {
  // Common container
  .container {
    padding: 0 80px;
  }
  // Header
  .header {
    .container {
      .burger {
        display: none;
      }
      .nav {
        display: none;
      }
    }
  }
  // Hero
  .hero {
    background: no-repeat url(../assets/assets/graphic.svg);
    background-position: 500px 0px;
    background-size: 500px;
  }

  // Companies
  .companies {
    .container {
      .companies-container {
        grid-template-columns: repeat(5, 1fr);
        & > div {
        }
        & > div:nth-child(4) {
          display: block;
        }
        .companies-container__image1 {
          width: 216px;
        }
        .companies-container__image2 {
          width: 154px;
        }
        .companies-container__image3 {
          width: 132px;
        }
        .companies-container__image2 {
          width: 194px;
        }
        .companies-container__image2 {
          width: 156px;
        }
      }
    }
  }

  // Auction
  .auction {
    .container {
      .nfts-container {
        max-width: 100%;
      }
    }
  }

  // Footer
  .footer {
    .container {
      padding-top: 64px;
      .footer-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .right {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
