@use "reset";
@use "vars" as v;
@use "common";

// Header =======
.header {
  height: 100px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .image {
      height: 36px;
    }
    .burger {
      font-size: 24px;
    }
    .nav {
      display: none;
    }
  }
}

// Hero ========

.hero {
  background: no-repeat url(../assets/assets/graphic.svg);
  background-position: 180px -50px;
  background-size: 450px;
  .container {
    margin-bottom: 80px;
    .left {
      padding-top: 48px;
      width: 274px;
      &__subtitle {
        color: v.$accent-color;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.1em;
        margin-bottom: 24px;
      }
      &__title {
        color: v.$dark-1;
        font-size: 3rem;
        font-weight: 900;
        line-height: 58px;
        margin-bottom: 24px;
      }
      &__desc {
        color: v.$dark-2;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 32px;
      }
      &__btn--hero {
        background: transparent;
        color: v.$dark-1;
      }
    }
  }
}

// Notice ===========

.notice {
  .container {
    margin: 0;
    background: rgb(255, 57, 152);
    background: linear-gradient(
      45deg,
      rgba(255, 57, 152, 1) 0%,
      rgba(255, 57, 57, 1) 17%,
      rgba(255, 129, 57, 1) 80%,
      rgba(57, 255, 160, 1) 100%
    );
    .notice-text {
      padding: 122px 32px 32px 32px;
      &__title {
        color: v.$dark-1;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 48px;
      }
      &__desc {
        color: v.$dark-1;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}

// Companies ===========

.companies {
  .container {
    .companies-container {
      margin-top: 64px;
      margin-bottom: 56px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      gap: 1.7rem;
      & > div:nth-child(4) {
        display: none;
      }
      &__image1 {
        background: no-repeat left center url(../assets/assets/companies/1.svg);
        height: 100%;
        width: 137px;
        height: 50px;
      }
      &__image2 {
        background: no-repeat left center url(../assets/assets/companies/2.svg);
        height: 50px;
      }
      &__image3 {
        background: no-repeat left center url(../assets/assets/companies/3.svg);
        height: 50px;
      }
      &__image4 {
        background: no-repeat left center url(../assets/assets/companies/4.svg);
        height: 50px;
      }
      &__image5 {
        background: no-repeat left center url(../assets/assets/companies/5.svg);
        height: 50px;
      }
    }
  }
}

// Auction =======

.auction {
  .container {
    .nft-item {
      display: flex;
      flex-direction: column;
      background-color: v.$light-2;
      border-radius: 16px;
      .nft-info {
        padding: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &__series {
          color: #ff8139;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 100%;
          font-weight: 500;
          margin-bottom: 1em;
        }
        &__bid {
          @extend .nft-info__series;
          color: v.$dark-3;
          text-align: right;
        }
        &__title {
          color: v.$dark-1;
          font-size: 20px;
          font-weight: 500;
          line-height: 100%;
          margin-bottom: 1em;
        }
        &__price {
          @extend .nft-info__title;
          &::before {
            content: url("../assets/assets/eth.svg");
          }
          text-align: right;
        }
        &__id {
          color: v.$dark-3;
          font-size: 18px;
          font-weight: 400;
          line-height: 100%;
          margin-bottom: 0;
        }
        &__timer {
          @extend .nft-info__id;
          text-align: right;
        }
      }
    }
  }
}

// Responsive =========
@import "media";
